<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation=" http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <context:component-scan base-package="net.bencode.webservice.helloworld"/>
    <jaxws:endpoint
            id="HelloWorldService"
            implementor="net.bencode.webservice.helloworld.HelloWorldServiceImpl"
            wsdlLocation="WEB-INF/wsdl/HelloWorldService.wsdl"
            address="/hello" />
</beans>